@import "../variable";
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 65px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	z-index: 1;
	.Logo {
		text-decoration: none;
		color: $primary;
		font-size: 1.8rem;
		font-family: $paragraphFont;
		font-weight: bold;
		margin-left: 10px;
		letter-spacing: 8px;
	}
	ul {
		display: flex;
		align-items: center;
		.notifier {
			margin: 0px 10px;
			margin-top: 14px;

			p {
				font-size: 0.6rem;
				font-weight: bold;
				z-index: 1;
				color: $tertiary;
				position: relative;
				top: -25px;
				left: 8px;
				user-select: none;
			}
		}
		.UserNotLoggedIn {
			width: 26px;
			height: 25px;
		}
		.Link {
			list-style: none;
			padding: 0 10px;
			text-decoration: none;
			font-size: 1.1rem;
			font-family: $fontBase;
			font-weight: 100;
			color: $primary;
			img {
				width: 40px;
				height: 40px;
			}
		}
		img {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			user-select: none;
		}
	}
}
.navbar:hover {
	.Logo {
		color: $quaternary;
	}
}

.mobileView {
	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	button {
		background-color: transparent;
		border: none;
		color: $quaternary;
	}
	.Expand {
		position: absolute;
		height: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		top: 100%;
		left: 0;
		justify-content: space-evenly;
		width: 100%;
		background-color: transparentize($color: #000000, $amount: 0.5);
		.Link {
			list-style: none;
			text-decoration: none;
			font-size: 1.1rem;
			font-family: $fontBase;
			font-weight: 100;
			color: $primary;
			padding: 15px;
			img {
				width: 40px;
				height: 40px;
			}
		}
	}
}
.mobileView:hover {
	button {
		background-color: transparent;
		border: none;
		color: $primary;
	}
}

.notification {
	position: fixed;
	top: 60px;
	right: 80px;
	min-width: 200px;
	min-height: max-content;
	max-height: max-content;  
	background-color: azure;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	padding: 3px;
	z-index: 1;

	.alerts {
		z-index: 1;
		line-height: 16px;
		font-family: $fontBase;

		background-color: #000000;
		min-width: 100%;

		padding: 7px 4px;
		margin: 5px 0px;
		h3 {
			letter-spacing: 2.5px;
			font-size: 0.8rem;
			font-weight: 100;
			color: $primary;
		}
	}
}
