@import "../variable";
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 65px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	z-index: 1;
	.Logo {
		text-decoration: none;
		color: $senary;
		font-size: 2rem;
		font-family: $paragraphFont;
		font-weight: bold;
		// margin-left: 10px;
		letter-spacing: 4px;
	}
	ul {
		display: flex;
		align-items: center;
		width: 350px;
		justify-content: space-between;
		padding-right: 15px;
		.notifier {
			margin-top: 20px;
			// margin-right: 20px;
			p {
				background-color: $quinary;
				font-size: 10px;
				font-weight: bold;
				z-index: 1;
				color: $secondary;
				position: relative;
				top: -35px;
				left: 10px;
				user-select: none;
				border-radius: 50%;
				padding-top: 2px;
				width: 15px;
				height: 15px;
			}
		}
		.UserNotLoggedIn {
			width: 26px;
			height: 25px;
		}
		.Link {
			list-style: none;
			padding: 0 10px;
			text-decoration: none;
			font-family: $fontBase;
			font-weight: 100;
			color: $primary;
			// margin-left: 20px;
			// margin-right: 10px;
			img {
				width: 30px;
				height: 25px;
			}
		}
		img {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			user-select: none;
		}
	}
}

.mobileView {
	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	button {
		background-color: transparent;
		border: none;
		color: $quaternary;
	}
	.Expand {
		position: absolute;
		height: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		top: 100%;
		left: 0;
		justify-content: space-evenly;
		width: 100%;
		background-color: transparentize($color: #000000, $amount: 0.5);
		.Link {
			list-style: none;
			text-decoration: none;
			font-size: 1.1rem;
			font-family: $fontBase;
			font-weight: 100;
			color: $primary;
			img {
				width: 40px;
				height: 40px;
			}
		}
	}
}
.mobileView:hover {
	button {
		background-color: transparent;
		border: none;
		color: $primary;
	}
}

.notification {
	position: fixed;
	top: 60px;
	right: 80px;

	min-width: 30%;
	height: 60%;
	background-color: $secondary;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	z-index: 1;
	overflow-y: scroll;
	border: 0.1rem solid $primary;

	h2 {
		width: 100%;
		background-color: $secondary;
		padding: 15px 20px;
		color: $primary;
		font-family: $fontBase;
		letter-spacing: 2px;
		border-bottom: $primary 2px solid;
		margin-bottom: 15px;
		font-size: 1.3rem;
	}
	.alerts {
		z-index: 1;
		line-height: 16px;
		font-family: $fontBase;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparentize($color: $secondary, $amount: 1);
		transition: all 0.2s ease;
		min-width: 94%;
		max-width: 94%;
		min-height: 50px;
		padding: 4px 4px;
		margin: 5px 0px;
		border-radius: 5px;
		box-shadow: 10px 5px 10px 2px rgba(0, 0, 0, 0.75);
		margin: 10px 0px;
		h3 {
			letter-spacing: 2.5px;
			font-size: 1.2rem;
			font-weight: bold;
			color: $primary;
			line-height: 25px;
		}
	}
	.alerts:hover {
		border: $primary 0.1px solid;
	}
}

.notification::-webkit-scrollbar {
	display: none;
}
.setting {
	position: relative;
	top: 230px;
	left: 475px;
	background-color: $tertiary;
	border: $primary 1px solid;
	width: 430px;
	height: 400px;
}
