@import "../variable";
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $secondary;
	min-height: 100vh;
}

.songs {
	user-select: none;
	background-color: $secondary;
	// Older solution
	// display: flex;
	// justify-content: space-around;
	// flex-wrap: wrap;

	// Grid Solution
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-content: center;
	// Older Width Solution
	// width: 100%;

	// Newer Width Solution
	width: 90%;
	min-height: max-content;
	margin-top: 140px;
	margin-bottom: 80px;
}
.songHeaders {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin-top: 80px;
	position: fixed;
	p {
		font-size: 1.5rem;
		letter-spacing: 2px;

		color: $primary;
		font-family: $fontBase;
	}
	.headerControllers {
		align-self: flex-end;
		svg {
			margin: 0px 20px;
		}
	}
}
.song {
	margin: 35px 60px;
	display: flex;
	flex-direction: column;
	background-color: #f1f3f4;
	border-radius: 10px;
	max-width: 160px;
	min-height: 155px;
	max-height: 200px;
	.song-img {
		width: 40%;
		max-height: 90px;
		img {
			user-select: none;
			width: 100%;
			min-width: 160px;
			max-height: 90px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			object-fit: scale-down;
		}
	}

	h1,
	h3 {
		color: $secondary;
		margin-left: 10px;
	}
	h3 {
		font-family: $fontBase;
		font-weight: 100;
		font-size: 0.8rem;
		letter-spacing: 2px;
		color: $secondary;
	}
	h1 {
		margin-top: 5px;
		font-size: 1.1rem;
		letter-spacing: 1px;
	}
	.audioLike {
		display: flex;
		align-self: flex-start;
		align-items: center;
		width: 95%;
		margin: 5px 0px;
		audio {
			align-self: flex-start;
			padding: 0;
			margin: 6px 0px;
			height: 20px;
		}
		button {
			border: none;
			background-color: transparent;
			cursor: pointer;
			img {
				height: 20px;
				width: 20px;
			}
		}
	}
}
.song:hover {
	box-shadow: 0px 0px 25px 0px $quaternary;
	transition: 0.3s;
}

h1,
h2,
h3:hover {
	user-select: none;
	cursor: cursor;
}
.currentSong {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	bottom: 30px;
	left: 20px;
	width: max-content;
	max-width: 250px;
	background-color: transparentize($color: $primary, $amount: 0.8);
	z-index: 1;
	p {
		position: relative;
		top: -50px;
		right: 0;
		width: 100px;
		background: none;
	}
	img {
		width: 120px;
		height: 70px;
	}
	h1,
	h2 {
		color: transparentize($color: $quaternary, $amount: 0.28);
		margin: 0px 15px;
		font-size: 1rem;
	}
	h2 {
		font-family: $fontBase;
		font-weight: 100;
	}
}
.currentSong:hover {
	background-color: transparentize($color: $quaternary, $amount: 0.1);
	box-shadow: 0px 0px 5px 0px $quaternary;
	h1,
	h2 {
		color: transparentize($color: $primary, $amount: 0);
	}
}
audio::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-time-remaining-display {
	display: none;
}

.controls {
	position: fixed;
	bottom: 50px;
	right: 30px;
	.controlButton {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: none;
	}

	.controlButton:focus {
		outline: none;
	}
	.controllers {
		display: flex;
		flex-direction: column;
		align-items: center;
		svg {
			height: 25px;
			margin-bottom: 10px;
		}
	}
}
.ActualControllers {
	height: 25px;
	width: 25px;
}
.ActualControllers:active {
	transform: scale(0.8);
}
.ActualControllers:hover {
	fill: $quaternary;
	.ActualControllers::before {
		content: "Help";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $quaternary;
		border-radius: 50%;
		opacity: 0.5;
		transition: 0.3s;
	}
}

.fill {
	fill: $quaternary;
}
